################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.vsidx
/Leetcode/.vs/Leetcode/v17
